{% extends "base.html" %}
{% block content%}
    <h2 class="resume-uploaded">Resumes Uploaded</h2>
    <div class="wrapper">
        <div class="column">
            <form method="get">
            <ul>        
                {% for key, value in resumeNames.items() %}
                        <li class="pdf-list" >
                            <label>   
                                <a href="{{ url_for('delete', key=key ) }}" onclick="return confirm('Are you sure you would like to delete this file?');">
                                <img class="delete-image" src="../static/delete.png"><br>
                                </a>
                                <a href="{{ url_for('pdf', key=key ) }}">
                                <img class="pdf-image" src="../static/pdf.png"><br>
                                </a>
                                <span>{{key}}</span>                         
                            </label>
                        </li>
                {% endfor %} 
            </ul>
        </div>
    </div> 
{% endblock %}    
