{% extends "base.html" %}
{% block content%}
    <h2 class="resume-uploaded">Resumes Uploaded</h2>
    <div class="wrapper">
        <div class="column">
            <form method="get">
            <ul>
                {% for key, value in dbResumes.items() %}
                        <li class="pdf-list">
                            <label>
                                <img class="pdf-image" src="../static/pdf.png"><br>
                                <span>{{key}} </span>
                            </label>
                        </li>
                {% endfor %} 
            </ul>
        </div>
    </div> 
{% endblock %}    
