{% extends "base.html" %}
{% block content %}
    <h2 class="mt-4">Rephrase sentence utility</h2>
    <p>Copy and paste sentences from your resume here</p>
    <form method="post">
        <textarea class="paragraphBox" name="resumeParagraph" id="resumeParagraph" rows="4" cols="50" placeholder="Enter sentence here.">{{paragraph}}</textarea><br><br>
        <input type="submit" onclick="load();" value="Submit">
    </form> 
    

    <div id="popup" class="loadingPopup" style="display: none">
        <img src="../static/loadingimage.gif" />
        <form method="get">
            <a href="{{ url_for('rephrase') }}" class="cancelHypr">Cancel</a>
        </form>
    </div>
 
    <br>
    <div id="main"></div>







    <script type="text/javascript">
        try{
            document.getElementById('main').style.display = "";

            let fixed = JSON.parse('{{ fixed | tojson }}');
            let paragraph = JSON.parse('{{ paragraph | tojson }}');

            a = fixed.match(/\w+/g);
            b = paragraph.match(/\w+/g);

            
            let res1 = b.filter(i => !a.includes(i));
            let res2 = a.filter(i => !b.includes(i));

            //highlight(b, paragraph, res1);
            highlight(a, "str1", res2);

            function highlight(str, id, res){
                const div = document.createElement('div');
                var text = "";
                for(var i=0; i<str.length; i++){
                    var hasVal = res.includes(str[i]);
                    if(hasVal){
                    text +=" <span class='imp'>"+str[i]+"</span> ";
                    } else {
                    text +=" "+str[i]+" ";
                    }
                }
                div.innerHTML = text;
                document.getElementById("main").appendChild(div);
                //document.body.appendChild(div);
            }

        }
        catch{}

        function load(){
            let paragraph = document.getElementById("resumeParagraph").value;
            let loading = false;
            if(paragraph == ""){
                alert("Textbox is empty, please enter a sentence.");
            }
            else{
                document.getElementById('popup').style.display = "";
                document.getElementById('main').style.display = "none";
            }
        }

    </script>

  

{% endblock %} 